section#About{

}
section#About .wrap{
  margin-bottom: 50px;
  box-sizing: border-box;
  border-radius: 30px;
  background: rgba(255,255,255,0.5);
}

section#About .wrap h2{
  /*! padding-bottom: 15px; */
  width: 35%;
}

section#About .wrap p{
  font-size: 25px;
  width: 580px;
  font-family: 'Noto Sans KR', sans-serif;
}

section#About .wrap ul{
  font-size: 25px;
  width: 400%;
  letter-spacing: 4px;
  padding: 50px 70px;
}

section#About .wrap ul li{
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px 0;
}

section#About .wrap div{
  width: 85%;
  margin: 0 auto;
}

section#About .wrap div img{
  width: 475px;
  height: 480px;
  border-radius: 20px 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 13px -5px, rgb(3, 38, 17) 0px 8px 16px -8px;
  padding: 10px 10px;
}