section#About{
  position: relative;
  background-color: #cecdbb;
}
/*section#About:before{
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  background: linear-gradient(to right, white, #93b3a0);
  background-color: #cecdbb;
  overflow: hidden;
  z-index: -1;
  top: 0;
}*/
section#About .wrap{
  height: 100%;
  width: 100%;
}
section#About .wrap h2{
  width: 15%;
}
section#About .wrap div{
  width: 90%;
  margin: 70px auto;
  align-items: center;
}
section#About .wrap div img{
  width: 40%;
  height: 35%;
  z-index: 2;
}
section#About .wrap div ul{
  font-size: 23px;
  letter-spacing: 4px;
  padding: 0 10%;
}
section#About .wrap div ul li{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 2;
}
section#About .wrap div ul li span{
  vertical-align: baseline;
  font-size: 19px;
  color: #666;
}
section#About .wrap div ul p.p{
  font-size: 17px;
  width: 630px;
  color: #555;
  line-height: 1.5;
  padding-top: 10px;
}
section#About .wrap div ul p.wp{
  color: #555;
  line-height: 1.5;
  padding-left: 50px;
}
