.wrap{
  width: 1440px;
  margin: 0 auto;
}
.padding50{
  padding: 50px
}
.paddingT50{
  padding-top: 50px;
}
.paddingR50{
  padding-right: 50px;

}.paddingB50{
  padding-bottom: 50px;

}.paddingL50{
  padding-left: 50px;

}
.h1{
  font-size: 64px;
}
.h2{
  font-size: 54px;
  font-family: 'Black Han Sans'sans-serif;
  margin-bottom: 20px;
  
}
.h3{
  font-size: 44px;
}
.h4{
  font-size: 34px;
}
.h5{
  font-size: 24px;
}
.h6{
  font-size: 20px;
}
.p{
  font-size: 16px;
}
/* felx */
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.center{
  justify-content: center;
}
/* 가상선택자 */
main .h2::before{
  content: "";
  font-size: 25px;
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.sasun::before{
  content: "/";
  margin-right: 30px;
}
/* 블럭, 인라인 */
.block{
  display: block;
}
/* 정렬 */
.center{
  text-align: center;
}