footer{
   background-color: rgba(3,38,17,0.7);
   color: #fff;
   display: flex;
   justify-content: center;
   gap: 23px;
   height: 100px;
   align-items: center;
   font-family: 'Noto Sans KR', sans-serif;
}
footer h1.p{

}
footer p.p{

}
footer span.p{
}