/* 상단영역 */
header{
  height: 70px;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.headerFix{
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #fff;
  animation-name: down;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes down{
  100%{
    top:-70px;
  }
}
header .wrap{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .wrap *{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
header h1{
  text-align: center;
}
header h1 a{
  font-size: 0;
}
header h1 a img{
  width: 115px; 
  height: 55px;
}
header a{
  font-family: 'Black Han Sans', sans-serif;
}
header ul{
  display: flex;
}
header ul li{
  margin: auto;
  font-size: 21px;
  font-weight: 700;
}
header ul li a{
  font-weight: 300;
  color: #eee;
  padding: 0 24px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}
.colorchan{
  color: #000;
  font-size: 18px;
}
/* 자식선택자 : 바로 아래에 있는 선택자(태그) */
header div.wrap>a{
  font-size: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}