section#Portfolio{

}
section#Portfolio .wrap{
    height: 800px !important;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(255,255,255,0.5);
}
section#Portfolio .wrap h2{

}
section#Portfolio .wrap p{
    font-size: 25px;
    font-weight: 700;
}
section#Portfolio .wrap>ul{
    margin-top: 35px;
    background-color: #03261175;
    border-radius: 20px;
    padding-top: 65px;
    padding-bottom: 50px;
}
section#Portfolio .wrap ul li{
    width: 80%;
    margin: 0 auto;
}
section#Portfolio .wrap ul li img{
    width: 600px;
}
section#Portfolio .wrap ul li div{
    padding: 100px 80px;
}
section#Portfolio .wrap ul li div h3{
    padding-bottom: 40px;
    font-weight: 700;
}
section#Portfolio .wrap ul li div p{

}
section#Portfolio .wrap ul li div ul{
    font-family: 'Noto Sans KR', sans-serif;
    width: 200%;
}
section#Portfolio .wrap ul li div ul li{
    display: none;
}
section#Portfolio .wrap ul li div span{
    display: none;
}
section#Portfolio .wrap ul li div span button{

}