section#Portfolio{
  margin: 75px auto;
}
section#Portfolio .wrap{
  height: 100%;
  width: 100%;
}
section#Portfolio .wrap h2{
  width: 30%;
}
section#Portfolio .wrap p{
  font-size: 25px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #474747;
}
section#Portfolio .wrap ul{
  background-color: #155a3175;
  border-radius: 20px;
  padding: 50px;
  margin: 60px 1px;
}
section#Portfolio .wrap ul li{
  width: 80%;
  margin: 0 auto;
}
section#Portfolio .wrap ul li img{
  width: 600px;
}
section#Portfolio .wrap ul li div{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 500; 
  margin: 0 auto;
}
section#Portfolio .wrap ul li div h3{
  padding-bottom: 40px;
  font-weight: 700;
}
section#Portfolio .wrap ul li div p{

  padding-top: 70px;
}
section#Portfolio .wrap ul li div ul{
  font-family: 'Noto Sans KR', sans-serif;
  width: 200%;
}
section#Portfolio .wrap ul li div ul li{
  display: none;
}
section#Portfolio .wrap ul li div span{
  display: none;
}
section#Portfolio .wrap ul li div span button{

}