/* 타이틀영역 */
div#title{
  background-color: #172d21;
  margin: auto;
  height: 100vh;
}
/*하위선택자*/
div#title .wrap{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  display: none;
}
div#title .wrap h2{
  color: #cecdbb;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-top: 7%;
/*   text-shadow: -1px -1px white, -1px -1px white, 1px 1px white, 1px 1px white; */
  font-family: 'Black Han Sans', sans-serif;
}
div#title .wrap span{
  font-size: 75px;
  opacity: 1;
  color: #cecdbb;
}
/* div p{
  font-size: 45px;
<<<<<<< HEAD
} */
=======
} */
>>>>>>> 8ecbcf5894323e04dc4f9f1c19036c517948510d
