/* 타이틀영역 */
div#title{
  background-color: #172d21;
  margin: auto;
  height: 100%;
}
/*하위선택자*/
div#title .wrap{ 
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  display: none; */
  height: 885px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  font-family: font-family:
}
div#title .wrap h2{
  color: #cecdbb;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-top: 7%;
/*   text-shadow: -1px -1px white, -1px -1px white, 1px 1px white, 1px 1px white; */
  font-family: font-family:
}
div#title .wrap span{
  font-size: 75px;
  opacity: 1;
  color: #cecdbb;
}
/* div p{
  font-size: 45px;
} */
