/* 타이틀영역 */
div#title{
  height: 100%;
  background-color: #172d21;
  margin: 0 auto;
  /* background-position-y: 50%, 105%; */
  position: relative;
  height: 100vh;
}
/* .inline-YTPlayer{
  height: 50%;
} */
/*하위선택자*/
div#title .wrap{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  display: none;
}
div#title .wrap h2{
  color: white;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-top: 7%;
/*   text-shadow: -1px -1px white, -1px -1px white, 1px 1px white, 1px 1px white; */
  font-family: 'Black Han Sans', sans-serif;
}
div#title .wrap span{
  font-size: 75px;
  opacity: 1;
  color: #98d3b0;
}
div p{
  font-size: 45px;
}
