section#About{
  position: relative;
}
section#About:before{
  content: "";
  width: 60%;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  /*! bottom: 50px; */
  background: linear-gradient(to right, white, #93b3a0);
  overflow: hidden;
  z-index: -1;
  top: 0;
}
section#About .wrap{
  height: 100%;
  width: 100%;
}
section#About .wrap h2{
  width: 15%;
}
section#About .wrap p{
  font-size: 25px;
  width: 580px;
  font-family: 'Noto Sans KR', sans-serif;
}
section#About .wrap ul{
  font-size: 23px;
  letter-spacing: 4px;
  padding: 0 10%;
}
section#About .wrap ul span{
  vertical-align: baseline;
  font-size: 19px;
  color: #666;
}
section#About .wrap ul li{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 2;
}
section#About .wrap div{
  width: 90%;
  margin: 70px auto;
  align-items: center;
}
section#About .wrap div img{
  width: 475px;
  height: 480px;
  border-radius: 20px 50px;
  z-index: 2;
}